
#container {
	width: 300px;
	height: 500px;
	/* background: url('background.jpg'); */
	padding: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	background-position: -100px -300px;
}

/* 
.fullscreen {
	margin: 70px 30px;
	border: 10px solid #EFFAFF;
	border-radius: 8px;
	box-shadow: inset 0 0 49px rgba(0, 0, 0, 0.3), 0 0 14px rgba(85, 121, 145, 0.3);
} */
/* 
.box:nth-of-type(1) { background: url('icons/msg.gif') 0 0 / 60px 60px; }
.box:nth-of-type(2) { background: url('icons/date.gif') 0 0 / 60px 60px;; }
.box:nth-of-type(3) { background: url('icons/img.gif') 0 0 / 60px 60px;; }
.box:nth-of-type(4) { background: url('icons/note.gif') 0 0 / 60px 60px;; }
.box:nth-of-type(5) { background: url('icons/apps.gif') 0 0 / 60px 60px;; }
.box:nth-of-type(6) { background: url('icons/itunes.gif') 0 0 / 60px 60px;; } */
